<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
    <!--Main content-->

    <main>
  <!-- Intro Section -->
  <section class="intro-section">
    <div class="text-content">
      <h2>Hello, welcome to my shoe tracker!</h2>
      <h1>This web application can help keep track of your collection.</h1>
      <p>
        This application allows users to organize and manage their inventory by categorizing shoes they own 
        and shoes they want to acquire, allowing any sneakerhead to simplify the process of keeping tabs on multiple pairs.
      </p>
    </div>
    <div class="image-content">
      <img src="/Assets/images/shoe.jpg" alt="Shoe collection picture" class="shoe-image" width="300" height="450">
    </div>
  </section>
</main>

<%- include Partials/footer.ejs%>